__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env

# Streamlit/Plots
.streamlit/
experiments/

# Package builds
build/
dist/
*.egg-info/
.eggs/

# IDEs
.idea/
.vscode/

# Marketing/Redesign
landing/

