__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env

# Streamlit/Plots
.streamlit/
experiments/
monitoring_results/

# Package builds
build/
dist/
*.egg-info/
.eggs/

# IDEs
.idea/
.vscode/

# Marketing/Redesign
landing/

# Node.js
node_modules/
dist/
.env
.parcel-cache
.cache
.DS_Store
*.log
